# c.technology API
CTECH_EMAIL=
CTECH_PASSWORD=
CTECH_VEHICLE_ID=veh_01kmzq0g8gf82bd0p48zkb3cqe

# ABRP Telemetry API
ABRP_API_KEY=
ABRP_TOKEN=
ABRP_CAR_MODEL=harleydavidson:livewire:22:16:rwd:livewire
ABRP_SEND_INTERVAL_MS=5000

# Relay
DRY_RUN=true
PORT=3000
LOG_LEVEL=info
SESSION_SECRET=
